<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Form Maker</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
    <script src="../../js/sorttable.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../users/profile.view.html">Username</a></li>
                <li><a href="../home/home.view.html">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../home/home.view.html">Home</a></li>
                <li><a href="../users/profile.view.html">Profile</a></li>
                <li><a href="../admin/admin.view.html">Admin</a></li>
                <li class="active"><a href="forms.view.html">Forms<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="container">
                <h3>Forms: Registration Form</h3>
                <ul class="nav nav-tabs">
                    <li><a href="forms.view.html">Forms</a></li>
                    <li class="active"><a href="fields.view.html">Fields</a></li>
                </ul>
                <br>
                <form role="form">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="firstname" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="lastname" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <label for="datetimepicker1">Date Of Birth:</label>
                                    <input type='text' class="form-control" placeholder="Select a Date"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select type="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Role:</label><br>
                        <input type="checkbox" name="admin" value="Admin" checked>Admin<br>
                        <input type="checkbox" name="student" value="Student">Student<br>
                        <input type="checkbox" name="user" value="User" checked>User<br>
                    </div>
                    <div class="form-group">
                        <label>License Agreement</label><br>
                        <input checked="checked" type="radio" name="yes" id="rd1" value="yes"/>
                        <label for="rd1">Yes</label><br/>
                        <input type="radio" name="no" id="rd2" value="no"/>
                        <label for="rd2">No</label><br/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/6.0.6/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="https://cdn.jsdelivr.net/holder/2.9.1/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>