<div class="container" id="edit">
    <div id="profilediv">
    <h2 id="profilehd">Hello, Would you Like to Add in some Info?</h2>
    <hr />
    <div class="row">
         <div class="col-md-3">
            <div class="text-center">
                <img ng-src="{{loc}}" width="100" height="100" class="img-circle" alt="YOUR PIC HERE" >
                <h6 id="picback">Upload a different photo</h6>

                <input ng-model="photo" class="form-control" id="filePicker" type="file" style="font-size: 15px;width: auto; padding:0; margin:0;">
            </div>
        </div>
        <div class="col-md-9 personal-info" id="personalinfo"  style="margin-bottom: 50px;">
            <div ng-show="mismatch" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee">Please verify the entered password</i>
                
            </div>
            <div ng-show="save" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee">Saved</i>
                
            </div>
            <h3 class="text-center1">PERSONAL INFO</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">FIRST NAME:</label>
                    <div class="col-lg-8">
                        <input id="fname" ng-model="new_fn" class="form-control" type="text" style="width: 450px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">LAST NAME:</label>
                    <div class="col-lg-8">
                        <input ng-model="new_ln" class="form-control" type="text" style="
    width: 450px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">USERNAME:</label>
                    <div class="col-md-8">
                        {{currentUser.user_id}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">PASSWORD:</label>
                    <div class="col-md-8">
                        <input ng-model="new_pwd" class="form-control" type="password" style="
    width: 450px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">CONFIRM PASSWORD:</label>
                    <div class="col-md-8">
                        <input ng-model="re_pwd" class="form-control" type="password" style="
    width: 450px;">
                    </div>
                </div>
                <fieldset>
                    <legend id="choices">TELL US MORE ABOUT YOUR PREFERENCES!</legend>
                    <label ng-repeat="pref in prefArr" id="preferences">
                        <input type="checkbox" checklist-model="selectedPref" checklist-value="pref" style="width: 1000px;" />{{pref}}
                    </label>
                </fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" value="Save Changes" ng-click="saveChanges()" type="button"  style="margin-left: 70px;">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
        </div>
</div>
