body {
}

.text-center{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 10px;
}


.text-center{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    }

#mail{
        font-size: 20px;
    font-family: cursive;
    padding: 25px;
    /* width: 990px; */
    margin:auto;
    margin-top: 50px;
    width:450px;
}

#pwd{
        font-size: 20px;
    font-family: cursive;
    padding: 25px;
    /* width: 990px; */
    margin:auto;
    margin-top: 50px;
    width:450px;
}

#sub
{
   width: 100px;
    margin: auto;
}


#picback{
    color: black;
    font-weight:bolder;

}

#personalinfo{
    background-color: black;
    margin-left: 350px;
    position: absolute;
    width: 800px;
    color: yellowgreen;
    text-transform: uppercase;
}

#choices{
        color: yellowgreen;
    padding-top: 70px;
    letter-spacing: 4px;
    padding-bottom: 7px;
}

#preferences{
    margin-right: 30px;
    padding-bottom: 20px;
}


#filePicker{
        padding: 0;
}

#profilehd{
    color: black;
    font-style: inherit;
    font-weight: 900;
}

#profilediv{
    background-color: beige;
    width: 1200px;
    margin-left: -70px;
    height: 1300px;
    padding: 20px;
}