
<div class="row" id="search" style="margin-top: 25px;">
    <div class="col-md-2">
        <div style="height:2em"></div>
    </div>
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" id="cityname" class="form-control" placeholder="Enter location" ng-model="location"/>
            <span class="input-group-btn">
                <button ng-click="searchEvents()" class="searchbtn">SEARCH</button>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div style="height:2em"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div style="height:2em"></div>
    </div>
</div>

<div class="row">
     <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div style="height:2em"></div>
    </div>
</div>
<div class="container ">
    <h3 class="events">EVENTS NEAR YOU!! </h3>
    <section id="pattern" class="pattern" ng-show="events">
        <ul class="grid" ng-repeat="event in events" ng-click="eventDetails(event.id)">

            <li class="white-panel">
                <a>
                    <img ng-src="{{event.image.large.url || altimg}}" />
                    <h4 class="title">{{event.title}}</h4>

                    <label>{{event.venue_name}}</label><br />
                    <label>{{event.venue_address}}</label><br />
                    <label>{{event.start_time}}</label>
                </a>
            </li>
        </ul>
    </section>
</div>

<div class="container">
    <h3 class="events" ng-show="currentUser">YOUR RECOMMENDED EVENTS!!</h3>
    <section id="pattern" class="pattern" ng-show="currentUser">
        <ul class="grid" ng-repeat="revent in rEvents" ng-click="eventDetails(revent.id)">
            <li class="white-panel">
                <a>
                    <img ng-src="{{revent.image.large.url || altimg}}" />
                    <h4 class="title">{{revent.title}}</h4>

                    <label>{{revent.venue_name}}</label><br />
                    <label>{{revent.venue_address}}</label><br />
                    <label>{{revent.start_time}}</label>
                </a>
            </li>
        </ul>
    </section>
</div>
<!--<div class="container">
    <h3 id="events">EVENTS NEAR YOU!! </h3>
    <section id="demo" ng-show="events">
        
        <article ng-repeat="event in events" class="white-panel" ng-click="eventDetails(event.id)">
            <img ng-src="{{event.image.large.url || altimg}}" />

            <h4>{{event.title}}</h4>
            <p>
                <label>{{event.venue_name}}</label><br />
                <label>{{event.venue_address}}</label><br />
                <label>{{event.start_time}}</label>
            </p>
        </article>

    </section>
    <div class="container">
        <h3 ng-show="currentUser">Your Recommendations!!</h3>
        <section id="demor" ng-show="currentUser">

            <article ng-repeat="revent in rEvents" class="white-panel" ng-click="eventDetails(event.id)">
                <img ng-src="{{revent.image.large.url || altimg}}" />

                <h4>{{revent.title}}</h4>
                <p>
                    <label>{{revent.venue_name}}</label><br />
                    <label>{{revent.venue_address}}</label><br />
                    <label>{{revent.start_time}}</label>
                </p>
            </article>
        </section>
    </div>
</div>-->
